
body{
    font-family: Arial, sans-serif;
    background-color: #f4f9ff;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1{
    background-color: #0056b3;
    color: white;
    padding: 25px;
    margin: 0;
}


#searchInput{
    width: 60%;
    max-width: 500px;
    padding: 12px;
    margin: 30px auto;
    border: 2px solid #0056b3;
    border-radius: 8px;
    font-size: 16px;
    display: block;
}

#events{
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.event{
    background-color: white;
    border-left: 6px solid #0056b3;
    margin: 15px 0;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #003366;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}


.event:hover{
    transform: translateY(-5px);
}


@media(max-width:768px){

    #searchInput{
        width: 90%;
    }

    .event{
        font-size: 16px;
    }

    h1{
        font-size: 24px;
    }
}

